<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
            zoom: 100%;
            {{!-- overflow: hidden; --}}
        }


h1{
     color: white;
      text-shadow: 0 .5rem 1rem rgba(50, 0, 100, .1);
       margin: 0;
      font-size: 3rem ;
      font-family: 'Varela Round', sans-serif;
}

h2{
    font-family: 'Varela Round', sans-serif;
     color: white;
      text-shadow: 0 .5rem 1rem rgba(50, 0, 100, .1);
       margin: 0;
      font-size: 2rem; 
}
        

        #vanta-canvas{
            width: 100vw;
            height: 100vh;
            /* z-index: 10; */
        }

.radio{
    background-color: #fff;
    border-radius: 1.5rem;
    width: 25%;
    float: left;
}

    .register{
    /* background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
    /* margin-top: 3%; */
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #4535f3;
    font-weight: bold;
    color: #8cbde6;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    {{!-- background: #8771ec; --}}
     /* background: #4535f3; */
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #ffffff;
}


    </style>
    <title>Document</title>
</head>
<body>
    <!-- <h1>this is my html page</h1> -->
    <div id="vanta-canvas">
        
        {{>register}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
        <script>
        VANTA.NET({
          el: "#vanta-canvas",
          mouseControls: false,
          touchControls: true,
          gyroControls: false,
          minHeight: 200.00,
          minWidth: 200.00,
          scale: 1.00,
          scaleMobile: 1.00,
          color: 0x3f3fff,
          points: 12.00
        })
        </script>
    </div>
</body>

</html>