<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    h1{
     color: rgb(251, 251, 253);
      text-shadow: 0 .5rem 1rem rgba(50, 0, 100, .1);
       margin: 5vh;
      font-size: 3rem ;
      font-family: 'Varela Round', sans-serif;
}

 *{
            margin: 0;
            padding: 0;
            zoom: 100%;
            
        }

body{
  height: 100vh;
  width: 100vw;
}


.log{
  height: 100vh;
  width: 100vw;
}

body{
  height: 100vh;
  background: #27df36;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #333399, #11ecda); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  


}

  </style>
  <title>Document</title>
</head>
<body>
  <div class="log" >
  
  <h1>
    Log in successfull
    <br>
    Name : {{name}}
    
  </h1>


  </div>
</body>
</html>